In [52]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.datasets import make_classification

X, y = make_classification(n_samples=100,    # number of rows
                           n_features=4,     # number of features
                           n_informative=3,  # informative features
                           n_redundant=1,    # redundant features
                           n_classes=2,      # number of classes
                           random_state=420)

In [53]:
df = pd.DataFrame(X, columns=['Feature1', 'Feature2', 'Feature3', 'Feature4'])
df['Target'] = y

In [54]:
df.head()

   Feature1  Feature2  Feature3  Feature4  Target
0  0.519655 -1.394095 -0.041190 -0.992812       0
1  2.005392 -0.663462  0.619684  1.537700       0
2 -1.126203  1.041031  0.191673 -1.447678       1
3  2.858029 -1.697778  0.817152  1.152899       0
4 -1.575776  0.390345 -0.714551 -0.712006       1

In [55]:
df.corr()['Target']

Feature1   -0.487218
Feature2    0.715675
Feature3    0.294603
Feature4   -0.438836
Target      1.000000
Name: Target, dtype: float64

In [56]:
df = df.drop(['Feature3'],axis='columns')

In [57]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42)

In [58]:
model = tree.DecisionTreeClassifier()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.92