In [59]:
import pandas as pd
from sklearn import tree

df = pd.read_csv('WineQT.csv')
df.head()

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  ...    pH  sulphates  alcohol  quality  Id
0            7.4              0.70         0.00             1.9      0.076  ...  3.51       0.56      9.4        5   0
1            7.8              0.88         0.00             2.6      0.098  ...  3.20       0.68      9.8        5   1
2            7.8              0.76         0.04             2.3      0.092  ...  3.26       0.65      9.8        5   2
3           11.2              0.28         0.56             1.9      0.075  ...  3.16       0.58      9.8        6   3
4            7.4              0.70         0.00             1.9      0.076  ...  3.51       0.56      9.4        5   4

[5 rows x 13 columns]

In [60]:
print(df.isna().sum())
df.shape
df['quality'].value_counts()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
Id                      0
dtype: int64

quality
5    483
6    462
7    143
4     33
8     16
3      6
Name: count, dtype: int64

In [61]:
X = df.iloc[:,:11] # Input variable
X

      fixed acidity  volatile acidity  citric acid  residual sugar  ...  density    pH  sulphates  alcohol
0               7.4             0.700         0.00             1.9  ...  0.99780  3.51       0.56      9.4
1               7.8             0.880         0.00             2.6  ...  0.99680  3.20       0.68      9.8
2               7.8             0.760         0.04             2.3  ...  0.99700  3.26       0.65      9.8
3              11.2             0.280         0.56             1.9  ...  0.99800  3.16       0.58      9.8
4               7.4             0.700         0.00             1.9  ...  0.99780  3.51       0.56      9.4
...             ...               ...          ...             ...  ...      ...   ...        ...      ...
1138            6.3             0.510         0.13             2.3  ...  0.99574  3.42       0.75     11.0
1139            6.8             0.620         0.08             1.9  ...  0.99651  3.42       0.82      9.5
1140            6.2             0.600         0.08             2.0  ...  0.99490  3.45       0.58     10.5
1141            5.9             0.550         0.10             2.2  ...  0.99512  3.52       0.76     11.2
1142            5.9             0.645         0.12             2.0  ...  0.99547  3.57       0.71     10.2

[1143 rows x 11 columns]

In [62]:
y = df.quality # Output variable
y

0       5
1       5
2       5
3       6
4       5
       ..
1138    6
1139    6
1140    5
1141    6
1142    5
Name: quality, Length: 1143, dtype: int64

In [63]:
from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [64]:
model = tree.DecisionTreeClassifier()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.5589519650655022

In [65]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100)
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.6943231441048034